@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-tickit-green {
  background-color: #96d0d8;
}

.bg-dtickit-green {
  background-color: #fdc325;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.border-tickit-green {
  border-color: #fdc325;
}

.shadow-tickit-green {
  --tw-shadow-color: #96d0d8;
}

.text-dtickit-green {
  color: #fdc325;
}

input {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

.glassbck {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}
